<!DOCTYPE html>
<html lang="en">
<body>
    <meta charset="utf-8">
    <title>SEQ2 SERVER</title>
    <h1>Seq2 Server</h1>
    <p>Access to the server </p>
    <hr>
    <form action="/ping">
    Is the server OK? <input type="submit" value="ping">
      </form>
    <hr>

    <form action="/get">
      Get a sequence.Select a number <br>
    <select name="operation">
        {% for n in range(0, context.n_sequences)%}
        <option value={{n}}>{{n}}</option>
        {% endfor %}
        </select>
        <input type="submit" value="get">
    </form>
    <form action="gene">
        Get a sequence.Select a number:
        <select name="gene_name">
            {% for g in context.genes %}
        <option value="U5">U5</option>
    </select>
     <br>
    <input type="submit" value="gene">
      <br>

    </form>
  </body>

</html>